html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

section {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh; /* Обеспечивает, что секция занимает минимум высоту экрана */
}

#ligtnote {
    background-color: rgb(100, 57, 35);
}

#return {
    background-color: rgb(38, 97, 133);
}

#katz {
    background-color: rgb(61, 45, 38);
}

#ligtnote div, #return div, #katz div {
    width: 50%;
}